
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/cc3ede2aa0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
        crossorigin="anonymous"></script>
    <title>Admin</title>
</head>

<body>
    <div class="web">
        <header class="header">
            <nav class="header__nav">
                <div class="logo1">
                    <a class="navbar-brand" href="#"><img src="./public/img/logo2.png" alt=""></a>
                </div>

                <div class="logo2"><a class="dropdown-item" href="logout">Logout <i class="fas fa-power-off"></i></a>
                </div>
            </nav>
        </header>

        <div id="layoutSidenav" class="content">
            <div id="layoutSidenav_nav" class="content-left">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="nav__header">
                                <button class="btn__button btn-link btn-sm order-1 order-lg-0 ml-2" id="sidebarToggle"
                                    href="#"><i class="fas fa-bars"></i></button>
                                <h3>Danh mục</h3>
                            </div>
                            <div class="nav__menu">
                                <ul>
                                    <li>
                                        <a class="nav-link" href="#">
                                            Quản lý tài khoản
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#">
                                            Tài khoản đang chờ kích hoạt
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link " href="#">
                                            Tài khoản đã kích hoạt
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#">
                                            Tài khoản bị vô hiệu hóa
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#">
                                            Tài khoản đang bị khóa
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#">
                                            Tài khoản đang bị khóa vô thời hạn
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as: Admin</div>
                    </div>
                </nav>
            </div>

            <div id="layoutSidenav_content" class="content-right">

                <div class="product">
                    <div class="title-btn">
                        <div class="title">Quản lý tài khoản đăng nhập</div>
                    </div>

                    <table class="table ">
                        <thead class="thead-light text-center">
                            <tr>
                                <th>Email</th>
                                <th>Họ và tên</th>
                                <th>Điện thoại</th>

                                <th>Ngày sinh</th>
                                <th>Mật khẩu</th>
                                <th>Ảnh</th>
                                <th>Trạng thái</th>
                                <th>Chọn</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" id="donhang">
                            <%for (var i=0;i<result.length;i++) { %>
                                <tr>

                                    <th>
                                        <%=result[i].email_khachhang%>
                                    </th>
                                    <th>
                                        <%=result[i].ten_khachhang%>
                                    </th>
                                    <th>
                                        <%=result[i].sdt%>
                                    </th>

                                    <th>
                                        <%=result[i].ngaysinh%>
                                    </th>

                                    <th>
                                        <%=result[i].matkhau%>
                                    </th>

                                    <th>
                                        <%=result[i].anh%>
                                    </th>

                                    <th>
                                        <%=result[i].trang_thai%>
                                    </th>

                                    <th>
                                        <div class="btn__action">
                                            <button class="btn btn-outline-danger" data-toggle="modal"
                                                data-target="#updateProduct"><i class="fas fa-cogs"></i></button>
                                        </div>
                                    </th>
                                </tr>
                                <%}%>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal__overlay"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-text" id="exampleModalLabel">Lưu và thay đổi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                   
                        <div class="col-6 mt-3">
                            <label for="">Trạng thái</label>
                            <!-- <input class="form-control" type="text" id="trangthai"> -->
                            <select class="form-control" id="trangthai">
                                <option value="Đang xử lí">Đang xử lí...</option>
                                <option value="Đã xác minh">Xác minh</option>
                                <option value="Đã bị vô hiệu hóa">Vô hiệu hóa</option>
                                <option value="Gỡ vô hiệu hóa">Gỡ vô hiệu hóa</option>
                                <option value="Khóa tài khoản">Khóa tài khoản</option>
                                <option value="Mở khóa tài khoản">Mở khóa tài khoản</option>
                                <option value="khóa vô thời hạn">khóa vô thời hạn</option>
                                <option value="Yêu cầu bổ sung">Yêu cầu bổ sung</option>
                                <option value="Hủy">Hủy</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn--normal" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn--primary" onclick="submitupdate()">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

</html>