<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://kit.fontawesome.com/cc3ede2aa0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Admin</title>
</head>

<body>
    <div class="web">
        <header class="header">
            <nav class="header__nav">
                <div class="logo1">
                    <a class="navbar-brand" href="#"><img src="/img/logo2.png" alt=""></a>
                </div>

                <div class="logo2"><a class="dropdown-item" href="/logout">Logout <i class="fas fa-power-off"></i></a>
                </div>
            </nav>
        </header>

        <div id="layoutSidenav" class="content">
            <div id="layoutSidenav_nav" class="content-left">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="nav__header">
                                <button class="btn__button btn-link" data-toggle="collapse" id="sidebarToggle"
                                    data-target="#demo" type="button" href="#"><i class="fas fa-bars"></i></button>
                                <h3 class="text-list">Danh mục</h3>
                            </div>
                            <div class="nav__menu" id="demo" class="collapse">
                                <ul>
                                    <li class="nav-item">
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fas fa-fw fa-cog"></i>
                                            <span class="manage-text">Quản Lý Tài Khoản</span>
                                        </a>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                            data-parent="#accordionSidebar">
                                            <div class="bg-white py-2 collapse-inner rounded">
                                                <a class="collapse-item" href="/admin/account/wait-active">Chờ Kích Hoạt</a><br>
                                                <a class="collapse-item" href="/admin/account/active">Đã Kích Hoạt</a><br>
                                                <a class="collapse-item" href="/admin/account/disable">Tài Khoản Bị
                                                    Vô Hiệu Hóa</a><br>
                                                <a class="collapse-item" href="/admin/account/lock">Tài Khoản Bị
                                                    Khóa Vô Thời Hạn</a><br>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="nav__menu" id="demo" class="collapse">
                                <ul>
                                    <li class="nav-item">
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            <i class="fas fa-fw fa-cog"></i>
                                            <span class="manage-text">Quản Lý Giao Dịch</span>
                                        </a>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                            data-parent="#accordionSidebar">
                                            <div class="bg-white py-2 collapse-inner rounded">
                                                <a class="collapse-item" href="/admin/history-transaction/pending">Danh
                                                    Sách Chờ Duyệt</a><br>
                                                <a class="collapse-item" href="/admin/history-transaction/success">Danh Sách Giao Dịch Thành Công</a><br>
                                                <a class="collapse-item" href="/admin/history-transaction/all">Danh Sách Tất Cả Giao Dịch</a><br>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as: Admin</div>
                    </div>
                </nav>
            </div>


            <div id="layoutSidenav_content" class="content-right">

                <%if(typeof transaction!='undefined'){%>
                    <div class="product">
                        <div class="title-btn">
                            <div class="title">DANH SÁCH GIAO DỊCH </div>
                        </div>

                        <table class="tbl">
                            <thead class="thead-light">
                                <tr>
                                    <th>Mã giao dịch</th>
                                    <th>Username</th>
                                    <th>Ngày giao dịch</th>
                                    <th>Loại giao dịch</th>

                                    <th>Trạng thái</th>

                                    <th>Chọn</th>
                                </tr>
                            </thead>
                            <tbody class="text-center" id="donhang">
                                <%for (var i=0;i<transaction.length;i++) { %>
                                    <tr>

                                        <th>
                                            <%=transaction[i].idDetail%>
                                        </th>
                                        <th>
                                            <%=transaction[i].username%>
                                        </th>
                                        <th>
                                            <%=transaction[i].createAt%>
                                        </th>
                                        <th>
                                            <%=transaction[i].type%>
                                        </th>

                                        <th>
                                            <%=transaction[i].state%>
                                        </th>

                                    
                                        <th>
                                            <div class="btn__action">
                                                <span>
                                                    <a class="btn btn-outline-danger" href="/admin/history-transaction/<%=transaction[i].idDetail%>">
                                                        Xem chi tiết
                                                    </a>
                                                </span>
                                            </div>
                                        </th>
                                    </tr>
                                    <%}%>

                            </tbody>

                        </table>

                    </div>
                    <% }else{ %>

                        <div class="product">
                            <div class="title-btn">
                                <div class="title">Quản lý tài khoản đăng nhập</div>
                            </div>

                            <table class="tbl">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Ngày tạo tài khoản</th>

                                        <th>Ngày cập nhật tài khoản</th>

                                        <th>Trạng thái</th>
                                        <th>Chọn</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center" id="donhang">
                                    <%for (var i=0;i<result.length;i++) { %>
                                        <tr>

                                            <th>
                                                <%=result[i].username%>
                                            </th>
                                            <th>
                                                <%=result[i].email%>
                                            </th>
                                            <th>
                                                <%=result[i].ngay_tao%>
                                            </th>

                                            <th>
                                                <%=result[i].ngay_capnhat%>
                                            </th>
                                            <th>
                                                <%=result[i].trang_thai%>
                                            </th>

                                            <th>
                                                <div class="btn__action">
                                                    <span>
                                                        <a class="btn btn-outline-danger" href="/admin/account/<%=result[i].username%>">
                                                            Xem chi tiết
                                                        </a>
                                                    </span>
                                                </div>
                                            </th>
                                        </tr>
                                        <%}%>
                                            <%}%>

                                </tbody>

                            </table>

                        </div>
            </div>
        </div>
    </div>

    <!-- <div class="modal fade" id="updateProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal__overlay"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-text" id="exampleModalLabel">Lưu và thay đổi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-6 mt-3">
                            <label for="">Họ và tên</label>
                            <input class="form-control" type="text" id="don-user" readonly>
                        </div>

                        <div class="col-6 mt-3">
                            <label for="">Điện thoại</label>
                            <input class="form-control" type="text" id="don-phone" readonly>
                        </div>
                        <div class="col-6 mt-3">
                            <label for="">Email</label>
                            <input class="form-control" type="text" id="don-email" readonly>
                        </div>
                        <div class="col-6 mt-3">
                            <label for="">Ngày sinh</label>
                            <input class="form-control" type="text" id="don-date" readonly>
                        </div>
                        <div class="col-6 mt-3">
                            <label for="">Mật khẩu</label>
                            <input class="form-control" type="text" id="don-password" readonly>
                        </div>
                        <div class="col-6 mt-3">
                            <label for="">Trạng thái</label>
                            <select class="form-control" id="trangthai">
                                <option value="Đang xử lí">Đang xử lí...</option>
                                <option value="Đã xác minh">Xác minh</option>
                                <option value="Đã bị vô hiệu hóa">Vô hiệu hóa</option>
                                <option value="Gỡ vô hiệu hóa">Gỡ vô hiệu hóa</option>
                                <option value="Khóa tài khoản">Khóa tài khoản</option>
                                <option value="Mở khóa tài khoản">Mở khóa tài khoản</option>
                                <option value="khóa vô thời hạn">khóa vô thời hạn</option>
                                <option value="Yêu cầu bổ sung">Yêu cầu bổ sung</option>
                                <option value="Hủy">Hủy</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn--normal" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn--primary" onclick="submitupdate()">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</body>
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script> -->

</html>