<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
    <div id="fb-root"></div>

    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0"></script>

    <title>Thông tin tài khoản</title>

</head>

<body onload="alertUpdate('<%=result.trang_thai%>')">


    <!-- --signup-- -->
    <header class="header">
        <nav class="header__nav">
            <div class="logo1">
                <a class="navbar-brand" href="/"><img src="/img/logo2.png" alt=""></a>
            </div>

            <div class="logo2"><a class="dropdown-item" href="logout">Logout <i class="fas fa-power-off"></i></a>
            </div>
        </nav>
    </header>
    <div class="container-fluid banner">
        <div class="container">
                <% if(result.trang_thai=='Chờ cập nhật'){%>
                <div class="alert alert-danger" id="alert" style="display:none" role="alert">
                    Tài khoản của bạn cần cập nhật chứng minh nhân dân
                </div>
                <%}%>
                
                        <div class="row">
                            <div class="col-3 text-center bg-light">
                                <div class="text-danger ">
                                    TÀI KHOẢN
                                </div>
                                <img class="mt-3" src="/img/UserImage.png" alt="" style="width: 100px;">
                                <div id="thanh2" class="mt-2">
                                </div>
                                <div>
                                    <a href="/changepassword" class="mt-2 btn btn-outline-danger">Đổi mật khẩu</a>

                                </div>


                                <a class="btn" href="logout"><i class="fas fa-sign-out-alt"></i></a>

                            </div>

                            <div class="clearfix"></div>
                            <div class="col-9">
                                <div class="h1 ">THÔNG TIN TÀI KHOẢN</div>
                                <div class="mt-5">
                                    <div class="form-row">
                                        <div class="col-6 form-group">
                                            <label class="" for="">Tên đăng nhập</label><br>
                                            <label class="ml-4 information_text" id="username">
                                                <%=result.username%>
                                            </label>
                                        </div>
                                        <div class="col-6 form-group">
                                            <label class="" for="">Họ Tên</label><br>
                                            <label class="ml-4 information_text" id="hoten">
                                                <%=result.ho_ten%>
                                            </label>
                                        </div>
                                        <div class="col-6 form-group">
                                            <label class="" for="">Ngày sinh</label><br>
                                            <label class="ml-4 information_text" id="hoten">
                                                <%=result.ngay_sinh%>
                                            </label>
                                        </div>
                                        <div class="col-6 form-group">
                                            <label class="" for="">Địa chỉ</label><br>
                                            <label class="ml-4 information_text" id="hoten">
                                                <%=result.dia_chi%>
                                            </label>
                                        </div>
                                        <div class="col-6 form-group">
                                            <label for="">Số điện thoại</label><br>
                                            <label class="ml-4 information_text" id="sdt">
                                                <%=result.sdt%>
                                            </label>
                                        </div>
                                        <div class="col-6 form-group">
                                            <label for="">Email</label><br>
                                            <label class="ml-4 information_text" id="email">
                                                <%=result.email%>
                                            </label>
                                        </div>
                                        <div class="col-6 form-group">
                                            <label class="" for="">Trạng thái tài khoản</label><br>
                                            <label class="ml-4 information_text" id="hoten">
                                                <%=result.trang_thai%>
                                            </label>
                                        </div>
                                        <div class="total-cmnd">
                                            <div class="CMND">
                                                <label>Hình CMND</label>
                                            </div>
                                            <div class="images-IDcard">
                                                <div>
                                                    <span style="width:40px">
                                                        <img src="/img_cmnd/<%=result.cmnd_truoc%>" id="imgID"
                                                            style="width: 300px ; height: 250px"
                                                            class="img-thumbnail" />
                                                        <br>
                                                        <label class="IDimage1">Mặt trước</label>
                                                        </br>
                                                    </span>
                                                </div>
                                                <div>
                                                    <span>
                                                        <img src="/img_cmnd/<%=result.cmnd_sau%>" id="imgID"
                                                            style="width: 300px ; height: 250px"
                                                            class="img-thumbnail" />
                                                        <br>
                                                        <label class="IDimage2">Mặt sau</label>
                                                        </br>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <% if(result.trang_thai=='Chờ cập nhật'){%>
                                            <div class="btnupdate1" id="update">
                                            <a class="btn btn--primary1" id="buttonUpdate" style="display:none"
                                                data-toggle="modal" data-target="#updateCMND">Cập nhật ảnh CMND</a>
                                        <%} %>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="clearfix"></div>
        </div>

    </div>
    </div>
    </div>

    <div class="modal fade" id="updateCMND" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cập nhật CMND</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/updateCMND" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="cmnd_truoc">Ảnh CMND mặt trước</label>
                            <input id="cmnd_truoc" name="cmnd_truoc" class="form-control mt-2" type="file"
                                accept="image/png, image/gif, image/jpeg">
                        </div>

                        <div class="form-group">
                            <label for="cmnd_sau">Ảnh CMND mặt sau</label>
                            <input id="cmnd_sau" name="cmnd_sau" class="form-control mt-2" type="file"
                                accept="image/png, image/gif, image/jpeg">
                        </div>
                        <div>
                            <button type="submit" class="btn btn--primary1">Cập nhật</button>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
            </form>

        </div>
    </div>


    <footer class="footer">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column-2-4">
                    <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Trung Tâm Trợ Giúp</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Đăng ký tài khoản</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Hướng dẫn sử dụng ví</a>
                        </li>
                    </ul>
                </div>
                <div class="grid__column-2-4">
                    <h3 class="footer__heading">Về shop</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Giới Thiệu</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Tuyển dụng</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Điều Khoản</a>
                        </li>
                    </ul>
                </div>
                <div class="grid__column-2-4">
                    <h3 class="footer__heading">Danh mục</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="" class="footer-item__link">Khuyến mãi</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link"></a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link"></a>
                        </li>
                    </ul>
                </div>
                <div class="grid__column-2-4">
                    <h3 class="footer__heading">Theo dõi chúng tôi</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="" class="footer-item__link">
                                <i class="footer-item__icon fab fa-facebook"></i>
                                Facebook
                            </a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link">
                                <i class="footer-item__icon fab fa-instagram"></i>
                                Instagram
                            </a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item__link">
                                <i class="footer-item__icon fab fa-linkedin"></i>
                                Linkedin
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="grid__column-2-4">
                    <h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
                    <div class="footer__download">
                        <img src="/img/QR_Code.png" alt="Download QR" class="footer__download-QR">
                        <div class="footer__download-apps">
                            <a href="" class="footer__download-app-link">
                                <img src="/img/CH_play.png" alt="Google play" class="footer__download-app-img">
                            </a>
                            <a href="" class="footer__download-app-link">
                                <img src="/img/App_Store.png" alt="App store" class="footer__download-app-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="grid">
                <p class="footer__text">2022 - Bản quyền thuộc về công ty Momy</p>
            </div>
        </div>
    </footer>

</body>
<script src="/js/main.js"></script>

</html>